.carrossel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    font-weight: 700;
    font-size: 1.125rem;
    text-align: center;
    padding: 1.3rem 0 0.7rem;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: 0.5em;
}