.topicos {
    background: var(--azul-degrade);
    text-align: center;
    border-top: 1.2em solid var(--branco);
    padding: 1em 0 2em;
}

.topicos__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__titulo {
    font-weight: 300;
    padding: 0.5em 0 1.5em;
    color: var(--branco);
    text-shadow: black 0 4px 4px;
}

.topicos__lista {
    margin: 1.6em 0.5em;
}

.topicos__botao {
    text-decoration: none;
    color: var(--branco);
    font-size: 0.875rem;
    font-weight: 700;
    padding: 1rem 1.5rem;
    background-color: var(--laranja);
}

@media screen and (min-width: 1024px){
    .topicos__titulo {
        font-size: 1.5rem;
    }

    .topicos__lista {
        margin: 2.5em 1em;
    }

    .topicos__botao {
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
    }
}

@media screen and (min-width: 1728px){
    .topicos {
        padding: 3em 24vw;
    }
}